.item-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid white;
    width: 25rem;
    margin-top: 0.5rem;
}

.item-card h3{
    color: aliceblue;
}
