.contact_container{
    margin-left: 10rem;
    margin-top: 2rem;
    width: 25rem;
}

.contact_container .contact_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid red;
}

.contact_header a{
   font-size: larger;
   font-weight: 900;
   border: 1px solid blue;
   border-radius: 10rem;
}